 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Master's Student at NYU Tandon School of Engineering.</p>
                </div>
                <div class="col-lg-4">
                    <p>Currently being a Master's Student I have realised the potential power of combination of data and web site development can do wonders in the upcoming time</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> One of my research papers
                    </a>
                </div>
            </div>
        </div>
    </section>