 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Master's Student at NYU Tandon School of Engineering.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am recent graduate of Master's Computer Science from NYU Tandon.
                    While working at NYU IT, I have acquired solid exposure to DevOps
                    and I constantly try to evolve my knowledge.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> One of my research papers
                    </a>
                </div>
            </div>
        </div>
    </section>